/* The side navigation menu */
.side-menu {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.side-menu h3 {
  color: white;
  font-size: 40px;
}

/* Sidebar links */
.side-menu a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.side-menu a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.side-menu a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  height: 1000px;
}
